<div class="cover cover-single" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}});"{{else}}style="background-image: url({{asset "images/los_angeles.jpg"}});"{{/if}}>

</div>
