<div class="cover {{#is "home"}}cover-home{{/is}}" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}});"{{else}}style="background-image: url({{asset "images/leo_carillo.jpg"}});"{{/if}}>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="welcome-message"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" style="fill:white; max-height:400px;max-width:50%;"><style>.a{fill:white; max-height:400px;}</style><path d="M165.1 5.6c0.5-0.8 1.6-2.4 1.6-2.4s-1.2 1.4-1.8 2.2c-1 1.5-4 4.7-4 4.7S164.1 7.1 165.1 5.6z" class="a"/><path d="M159.8 15.2c0.2 0.2 0.8 0.5 2 0.5 1.3 0 2-0.4 2-0.6s-0.7-0.6-2-0.6 -2 0.4-2 0.6c0 0 0 0.1 0 0.1L159.8 15.2z" class="a"/><polygon points="10 22.1 46.3 0.7 82.5 22.1 46.3 43.3 "/><polygon points="9.5 23 9.5 65.6 45.8 86.7 45.8 44.3 "/><polygon points="46.7 44.3 83 23 83 65.5 46.7 86.7 "/></svg>
			</div>
		</div>
	</div>
</div>
