<!-- start widget -->
<div class="widget">
	<h4 class="title">About Me</h4>
	<div class="content">
		Learning and exploring anything that piques my interest<br>
		Also blogging about it to rake in that sweet internet cred.
	</div>
</div>
<!-- end widget -->
